- form_layout = params[:layout] || "horizontal"
= bootstrap_form_for @quote_request, url: consumers_quote_requests_url(@quote_request, retailer_id: @retailer.id), authenticity_token: false, layout: form_layout.to_sym do |f|
  = f.text_field :organization
  = f.text_field :first_name
  = f.text_field :last_name
  = f.text_field :email
  = f.text_field :email_confirmation
  = f.text_field :phone, placeholder: "(xxx)-xxx-xxxx"
  = f.select :vehicle_type, [''] + QuoteRequest::VEHICLE_TYPES.to_a
  = f.text_field :vehicle_count
  = f.text_field :passengers
  = f.text_field :start_location, label: 'Pick up address'
  = f.text_field :start_date, label: 'Pick up date', placeholder: "mm/dd/yyyy", class: 'datepicker'
  = f.text_field :start_time, label: 'Pick up time', placeholder: "hh:mm", class: 'timepicker'
  = f.text_field :end_location, label: 'Drop off address'
  = f.select :trip_type, [''] + QuoteRequest::TRIP_TYPES.to_a
  = f.form_group do
    .help
      %small 
        For the most accurate quote please provide as much details about your trip as possible. Number of stops, passenger count, itinerary, special needs, etc
  = f.text_area :description

  = f.form_group do
    = recaptcha_tags

  = f.form_group do
    = f.submit "Request Quote", class: "btn btn-primary", id: "submit-quote-request"