%h1 Favorite Suppliers

%ul.favorite-suppliers-list
  - @favorites.each do |supplier|
    %li[supplier]
      =supplier.name
      = link_to 'delete', favorite_path(supplier), :method => :delete, :confirm => 'are you sure?'

-if @found_supplier
  We found:
  = @found_supplier.name
  = link_to "Add to my favorite suppliers", favorites_path(:supplier_id => @found_supplier), :method => :post
-else
  = form_tag favorites_path, :method => :get do
    enter an email to search for a supplier
    = label_tag :company_email, 'Email'
    = text_field_tag :company_email
    = submit_tag 'Find Supplier'
