= bootstrap_form_for @retailer, url: retailers_profile_path(@retailer), layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" do |f|
  = f.hidden_field :id
  = f.text_field :domains
  = f.form_group do
    = f.submit "Update", class: "btn btn-danger"

  %h3 Embedded HTML
  %pre
    %code
      = "<iframe src=\"#{ request.protocol + request.host_with_port }\/#\/new-retail-opportunity?retailer=#{@retailer.id}\" width=\"100%\" height=\"1000px\"></iframe>"
  %h3 Preview
  %iframe{style: "border:0;", width: "100%", height: "1000px", src: "#{ request.protocol + request.host_with_port }/#/new-retail-opportunity?retailer=#{@retailer.id}"}
