%p Dear #{@bidder.name},
%p We regret to inform you that you did not win the bidding on #{link_to @auction.name, "http://#{DEFAULT_HOST_WITH_PORT}/#/opportunities/#{@auction.reference_number}"}.
%p To review the bid history on this opportunity and find out the winning bid, please click #{link_to "here", "http://#{DEFAULT_HOST_WITH_PORT}/#/opportunities/#{@auction.reference_number}"}.
%p Sincerely,
%p The SubOut Team
