%p Dear #{@poster.name},
%p This is your email confirmation that a winning bid of #{number_to_currency(@bid.amount)} was accepted for #{link_to @auction.name, "http://#{DEFAULT_HOST_WITH_PORT}/#/opportunities/#{@auction.reference_number}"}.
%p A winning bid notification was sent to #{@bidder.contact_name} of #{@bidder.name} at #{@bidder.contact_phone} or #{@bidder.email}.
%p They should contact you to complete this transaction and to fulfill this opportunity.
= render 'email_sig'
