%h1= @subscription.name
%h4
  = "Organization: #{@subscription.organization}"
  %br
  = "Chargify ID: #{@subscription.subscription_id}"

- if @subscription.exists_on_chargify?
  = form_for @subscription, url: admin_gateway_subscription_path(@subscription), html: { class: "form-horizontal edit_gateway_subscription" } do |f|
    .control-group
      = f.label :email, class: "control-label"
      .controls
        = f.text_field :email
    .control-group
      = f.label :product_handle, class: "control-label"
      .controls
        = f.select :product_handle, ["free", "subout-basic-service", "subout-pro-service"], include_blank: false

    .control-group
      = f.button :submit, class: "btn btn-danger"
      = link_to "Cancel", admin_gateway_subscriptions_path, class: "btn"
  - unless @subscription.created_company.present?
    %p.alert.alert-danger
      This subscription is not connected to any company.
      %br
      Signup Link:
      = link_to "https://#{DEFAULT_HOST_WITH_PORT}/#/sign_up?subscription_id=#{@subscription.id}", "http://#{DEFAULT_HOST_WITH_PORT}/#/sign_up?subscription_id=#{@subscription.id}", target: '_blank'
- else
  %p.alert.alert-error
    Subscription not found on Chargify
