%h1 Gateway Subscriptions

%table#subscriptions.table.table-striped
  %thead
    %tr
      %th Created time
      %th ID
      %th Email
      %th Name
      %th Organization
      %th Chargify subscription ID
      %th Chargify customer ID
      %th Subscription plan
      %th Regions
      %th Confirmed
      %th Sign up company
  %tbody
    - @subscriptions.each do |subscription|
      %tr
        %td= subscription.created_at
        %td= subscription.id
        %td= subscription.email
        %td= #{subscription.first_name} #{subscription.last_name}
        %td= subscription.organization
        %td= subscription.subscription_id
        %td= subscription.customer_id
        %td= subscription.product_handle
        %td= subscription.regions
        %td= subscription.confirmed
        %td= subscription.created_company.try(:name)
