%h1 Companies
.pull-right
  = link_to "Download CSV", admin_companies_path(format: "csv", sort_by: @sort_by, sort_direction: @sort_direction), target: "_blank"

%table#admin-companies.table.table-striped
  %thead
    %tr
      %th #
      %th Company Name<br>Owner
      %th Email<br>Contact
      %th
        - if @sort_by != "created_at"
          = link_to "Sign up", admin_companies_path(sort_by: "created_at", sort_direction: "desc")
        - elsif @sort_direction == "asc"
          = link_to "Sign up ^", admin_companies_path(sort_by: "created_at", sort_direction: "desc")
        - else
          = link_to "Sign up v", admin_companies_path(sort_by: "created_at", sort_direction: "asc")
      %th
        Last signed in
      %th Subscription
      %th
        - if @sort_by != "auctions_count"
          = link_to "# Ops", admin_companies_path(sort_by: "auctions_count", sort_direction: "desc")
        - elsif @sort_direction == "asc"
          = link_to "# Ops ^", admin_companies_path(sort_by: "auctions_count", sort_direction: "desc")
        - else
          = link_to "# Ops v", admin_companies_path(sort_by: "auctions_count", sort_direction: "asc")
      %th
        - if @sort_by != "bids_count"
          = link_to "# Bids", admin_companies_path(sort_by: "bids_count", sort_direction: "desc")
        - elsif @sort_direction == "asc"
          = link_to "# Bids ^", admin_companies_path(sort_by: "bids_count", sort_direction: "desc")
        - else
          = link_to "# Bids v", admin_companies_path(sort_by: "bids_count", sort_direction: "asc")
      %th Actions
  %tbody
    - @companies.each_with_index do |company, index|
      %tr
        %td= index + 1
        %td
          = company.name
          %br
          = company.owner
        %td
          = company.email
          %br
          #{company.contact_name}
          = "(#{company.contact_phone})" if company.contact_phone
        %td= time_ago_in_words(company.created_at) + " ago" if company.created_at
        %td= time_ago_in_words(company.last_sign_in_at) + " ago" if company.last_sign_in_at
        %td
          = company.subscription_plan
          %br
          = company.regions if company.state_by_state_subscriber?
        %td= company.auctions.count
        %td= company.bids.count
        %td
          = link_to "Become user", "/#/dashboard", class: "btn btn-info become-user", data: { auth_token: company.auth_token_hash.to_json }
          = link_to "Edit", edit_admin_company_path(company), class: "btn"
