%h1 Companies

%table.table.table-striped
  %thead
    %tr
      %th #
      %th Company Name<br>Owner
      %th Email<br>Contact
      %th
        Sign up
      %th
        Last signed in
      %th Subscription
      %th # Ops
      %th # Bids
  %tbody
    - @companies.each_with_index do |company, index|
      %tr
        %td= index + 1
        %td
          = company.name
          %br
          = company.owner
        %td
          = company.email
          %br
          #{company.contact_name}
          = "(#{company.contact_phone})" if company.contact_phone
        %td= time_ago_in_words(company.created_at) + " ago" if company.created_at
        %td= time_ago_in_words(company.last_sign_in_at) + " ago" if company.last_sign_in_at
        %td
          = company.subscription_plan
          %br
          = company.regions if company.state_by_state_subscriber?
        %td= company.auctions.count
        %td= company.bids.count
