New Guest Supplier Invitation

= simple_form_for @favorite_invitation, 
    :url => create_for_unknown_supplier_favorite_invitations_path do |f|
  = f.input :supplier_name, :label => 'Supplier Company Name'
  = f.input :supplier_email, :label => 'Send Invitation To'
  = f.input :custom_message, :as => :text
  = f.button :submit, "Send" 


