%h3 Consumer Setting
%hr
- if @consumer.domains.blank?
  %p.alert.alert-warning
    Please update domains as which you are going to insert subout consumer form
%br
= bootstrap_form_for @consumer, url: consumers_profile_path(@consumer), layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" do |f|
  = f.hidden_field :id
  = f.text_field :domains, help: "You can add comma delimited domains"

  = f.form_group do
    = f.submit "Update", class: "btn btn-danger"
%br
%br

%h3 Embedded HTML
%hr
- @quote_request = QuoteRequest.new
%textarea.form-control{readonly: true, rows: 30}
  = raw CGI.escapeHTML(render 'consumers/quote_requests/form')