%h3= @setting.to_s
.span7
  = form_for @setting, url: admin_setting_path(@setting.id), html: { class: "form-horizontal" } do |f|
    = f.hidden_field :id
    .control-group
      = f.label :value, @setting.label, class: "control-label"
      .controls
        - if @setting.key == 'admin_email'
          = f.text_field :value
        - else
          = f.text_area :value, class: "input-xlarge", rows: 5, data: { maxlength: 200 }

    .form-actions
      = f.submit "Update", class: "btn btn-danger"
      = link_to "Cancel", admin_settings_path, class: "btn"
