%h3 Edit #{@setting.key.titleize}

= form_for @setting, url: admin_setting_path(@setting), html: { class: "form-horizontal" } do |f|
  .control-group
    = f.label :value, "Content", class: "control-label"
    .controls
      = f.text_area :value, class: "input-xxlarge", rows: 5, data: { maxlength: 100 }

  .control-group
    = f.submit "Save", class: "btn btn-danger"
    = link_to "Cancel", edit_admin_setting_path(@setting), class: "btn"
