%ul
  %li
    = link_to "Companies", admin_companies_path
  %li
    = link_to "Subscriptions", admin_gateway_subscriptions_path
  %li
    = link_to "Favorite Invitations", admin_favorite_invitations_path

%h3 Summary
.row-fluid
  .span3
    %table.table.table-striped.table-bordered
      %tr
        %th Total Opportunities Posted #
        %td= number_with_delimiter(Opportunity.count)
      %tr
        %th Total Bid Count #
        %td= number_with_delimiter(Bid.count)
      %tr
        %th Total Awarded #
        %td= number_with_delimiter(Opportunity.won.count)
      %tr
        %th Total Awarded $
        %td= number_to_currency(Opportunity.won.sum(&:value))

%h3 Awarded by States
%table.table.table-striped.table-bordered
  %tr
    %th State
    %th Total Awarded #
    %th Total Awarded $
  - GatewaySubscription.region_names.each do |region|
    %tr
      %td= region
      %td= number_with_delimiter(Opportunity.by_region(region).won.count)
      %td= number_to_currency(Opportunity.by_region(region).won.sum(&:value))
