= simple_form_for @opportunity do |f|
  = f.input :name
  = f.input :description
  = f.input :starting_location
  = f.input :ending_location
  = f.input :start_date
  = f.input :end_date
  = f.input :bidding_ends
  = f.button :submit, "Create Auction"
