!!!
%html
  %head
    %title Subout
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar
      .navbar-inner
        .container
          = link_to "Admin", admin_path, class: "brand"
    .container-fluid
      = yield
