!!!
%html
  %head
    %title Subout
    = stylesheet_link_tag    "admin", :media => "all"
    = javascript_include_tag "admin"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse
      .navbar-inner
        .container
          = link_to "Subout", "#", class: "brand"
          %ul.nav.navbar.navbar-right.pull-right
            %li
              = link_to "Retailer", edit_retailers_profile_path(type: 'retailer')
            %li
              = link_to "User", edit_retailers_profile_path(type: 'user')
    .container-fluid
      - if flash[:error]
        %p.alert.alert-error
          = h flash[:error]
          %a.close(href="#") x
      - if flash[:notice]
        %p.alert.alert-info
          = h flash[:notice]
          %a.close(href="#") x
      = yield
